@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
 @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

 * {
 	margin: 0;
 	padding: 0px;
 }

 html {
 	position: relative;
 	min-height: 100%;
 }

 body {
 	background: #fff;
 	color: #000000;
 }

 h1, h2, h3, h4, h5, h6 {
 	font-family: 'Lato', sans-serif;
 	font-weight: 300;
 }

 p {
 	padding: 0;
 	margin-bottom: 12px;
 	font-family: 'Lato', sans-serif;
 	font-weight: 300;
 	font-size: 16px;
 	line-height: 26px;
 	color: #666;
 	margin-top: 10px;
 }

 .alignleft { float: left; }
 .alignright { float: right; }
 .aligncenter {
 	margin-left: auto;
 	margin-right: auto;
 	display: block;
 	clear: both;
 }

 .centered {text-align: center}
 .mt {margin-top: 32px;}
 .mb {margin-bottom: 32px;}
 .mtb {margin-top: 32px; margin-bottom: 32px;}
 .mtb2 { margin-top: 64px; margin-bottom: 64px;}
 .ptb {padding-top: 64px; padding-bottom: 64px;}

 .clear {
 	clear: both;
 	display: block;
 	font-size: 0;
 	height: 0;
 	line-height: 0;
 	width:100%;
 }
 ::-moz-selection  {
 	color: #fff;
 	text-shadow:none;
 	background:#2B2E31;
 }
 ::selection {
 	color: #fff;
 	text-shadow:none;
 	background:#2B2E31;
 }
 *,
 *:after,
 *:before {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	padding: 0;
 	margin: 0;
 }
 a {
 	padding: 0;
 	margin: 0;
 	text-decoration: none;
 	-webkit-transition: background-color .4s linear, color .4s linear;
 	-moz-transition: background-color .4s linear, color .4s linear;
 	-o-transition: background-color .4s linear, color .4s linear;
 	-ms-transition: background-color .4s linear, color .4s linear;
 	transition: background-color .4s linear, color .4s linear;
 }
 a:hover,
 a:focus {
 	text-decoration: none;

 }


 .notifications {
 	padding:10px 0;
 }


 .page {
 	padding-top:50px;
 	padding-bottom:180px;
 }

 /* Buttons */
 .btn-download {
 	background: #FDE3A7;
 }
 .btn-design {
 	font-size: 13px;
 	letter-spacing: 1px;
 	text-transform: uppercase;
 	margin-left: 8px;
 	margin-right: 8px;
 }
 .btn-black {
 	background: #333333;
 	color: white;
 }
 .btn-black:hover {
 	background: transparent;
 	color: #333333;
 	border: 1px solid #333333;
 }
 .btn-clear-black {
 	background: transparent;
 	color: #333333;
 	border: 1px solid #333333;
 }
 .btn-clear-black:hover {
 	background: #333333;
 	color: white;
 }
 .btn-white {
 	background: #fff;
 	color: #222;
 }
 .btn-white:hover {
 	background: transparent;
 	color: #fff;
 	border: 1px solid #fff;
 }
 .btn-clear {
 	background: transparent;
 	color: #fff;
 	border: 1px solid #fff;
 }
 .btn-clear:hover {
 	background: #fff;
 	color: #222;
 }


 /* Footer */
 .footer {
 	position: absolute;
 	bottom: 0;
 	width: 100%;
 	/* Set the fixed height of the footer here */
 	height: 140px;
 	background: #fff;
 	border-top:1px solid #ddd;
 	padding:16px 0;
 	color: #999;
 }
 .footer__nav {
 	padding-top:8px;
 }
 .footer__nav li {
 	display: inline;
 	list-style-type: none;
 	padding:4px 8px;
 }
 .footer__nav li a {
 	padding: 0;
 	margin: 0;
 	text-decoration: none;
 	-webkit-transition: background-color .4s linear, color .4s linear;
 	-moz-transition: background-color .4s linear, color .4s linear;
 	-o-transition: background-color .4s linear, color .4s linear;
 	-ms-transition: background-color .4s linear, color .4s linear;
 	transition: background-color .4s linear, color .4s linear;
 	color: #666666;
 }
 .footer__nav li a:hover,
 .footer__nav li a:focus {
 	text-decoration: none;
 	color:#ffffff;
 }
