.account__profile-image {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #fff;
	border:1px solid #ddd;
	text-align: center;
}
.account__profile-image:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
.account__profile-image img {
	width: 96px;
	height: 96px;
	display: inline-block;
  	vertical-align: middle;
  	margin:0;
}
.account__roles {
	margin:16px 0;
}
