.auth {
	padding:48px 0;
}
.auth h5 {
	text-align: center;
}
.auth__title {
	font-size: 18px;
	display: block;
	text-align: center;
}
.auth__wall {
	background: transparent;
	margin-top: 16px;
	padding: 32px 0 0 0;
}
.auth__profile {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #fff;
	border:1px solid #ddd;
	text-align: center;
}
.auth__profile:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
.auth__profile img {
	width: 96px;
	height: 96px;
	display: inline-block;
  	vertical-align: middle;
  	margin:0;
}
.loing__social {
	padding:0;
}
.auth__social a {
	display: inline-block;
	margin:2px;
}
.auth__form {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.auth__social,
.auth__form {
	width:90%;
	margin:0 auto;
	text-align: center;
}
.auth__social,
.auth__form .form-control
{
	font-size: 16px;
	height: auto;
	padding:10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.auth__form .form-group .fa {
	padding-top:14px;
}
.auth__form .form-control:focus
{
	z-index: 2;
}
.nav-auth li.active,
.nav-auth li.active a,
.nav-auth li.active a:hover,
.nav-auth li.active a:focus {
	background:#fcfcfc;
}
.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
	border-bottom:none;
}
.auth .tab-content {
	padding-top:16px;
	background-color:#fcfcfc;
	border:1px solid #ddd;
	border-top:none;
}
