/**
 * Part of the Sentinel Kickstart application.
 *
 * NOTICE OF LICENSE
 *
 * Licensed under the Cartalyst PSL License.
 *
 * This source file is subject to the Cartalyst PSL License that is
 * bundled with this package in the license.txt file.
 *
 * @package    Sentinel Kickstart application
 * @version    1.0.0
 * @author     Cartalyst LLC
 * @license    Cartalyst PSL
 * @copyright  (c) 2011-2014, Cartalyst LLC
 * @link       http://cartalyst.com
 */

/**
 * Part of the Sentinel Kickstart application.
 *
 * NOTICE OF LICENSE
 *
 * Licensed under the Cartalyst PSL License.
 *
 * This source file is subject to the Cartalyst PSL License that is
 * bundled with this package in the license.txt file.
 *
 * @package    Sentinel Kickstart application
 * @version    1.0.0
 * @author     Cartalyst LLC
 * @license    Cartalyst PSL
 * @copyright  (c) 2011-2014, Cartalyst LLC
 * @link       http://cartalyst.com
 */

 html, body {
 	overflow-x:hidden;
 }
 .actions .btn {
 	margin-right:4px;
 }
 .base {
 	padding:70px 0;
 }
 .notifications {
 	width:100%;
    text-align: center;
 }
 .footer {
 	text-align: left;
 }
 .footer__company {
 	font-size:14px;
 	font-weight: bold;
 }
 .footer__tagline {
 	font-size:12px;
 }
 .footer__tagline span {
 	font-style: italic;
 	font-size:10px;
 }
 .footer__social {
 	margin-top:16px;
 }
 /* Switches */
 .sw {
 	display: none;
 }
 .switch {
 	position: relative;
 	display: inline-block;
 	vertical-align: text-bottom;
 	cursor: pointer;
 	border-radius: 24px;
 	transition: background 250ms 100ms;
 	background-color: #c7c7c7;
 	width: 72px;
 	height: 28px;
 	line-height: 50px;
 	margin: 10px 0px 0px 0px;
 }
 .switch:after {
 	position: absolute;
 	content: '';
 	width: 24px;
 	height: 24px;
 	top: 2px;
 	left: 2px;
 	border-radius: 50%;
 	transition: 150ms linear;
 	background-color: white;
 }
 input:checked + .switch {
 	background: #4582ec;
 }
 input:checked + .switch:after {
 	left: 46px;
 }
.col-centered{
    float: none;
    margin: 0 auto;
}
 /* responsive styles */
 /* phone */
 @media only screen and (min-width: 35em) {
 }
 /* tablet */
 @media only screen and (min-width: 45em) {
 }
 /* desktop */
 @media only screen and (min-width: 55em) {
 }
