/* Welcome */
.welcome {
	position: relative;
	height: 700px;
	overflow: none;
}
.welcome__text {
	padding-top:60px;
	max-width: 700px;
	margin:0 auto;
	text-align: center;
}
.welcome__text h1 {
	margin-bottom: 0;
	letter-spacing: 2px;
	font-weight: 900;
	font-size: 36px;
	line-height:0.9em;
	text-transform: uppercase;
}
.welcome__text h1 span {
	font-size:32px;
}
.welcome__text h3 {
	font-size: 24px;
	letter-spacing: 2px;
}
.welcome__text p {
	margin-top:28px;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.welcome__text hr {
	width: 150px;
}
.welcome__brand {
	position: absolute;
	width:240px;
	bottom:-160px;
	left: 50%;
	margin-left: -120px; /* Half the width */
	z-index: 3;
}

/* Introduction */
.introduction {
	text-align: center;
	padding-top:160px;
	padding-bottom:80px;
}
.introduction__pitch h3 {
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 20px;
}
.introduction__pitch hr{
	width: 40px;
}
.introduction__pitch img {
	width: 100%;
	height: auto;
}

/* responsive styles */
/* phone */
@media only screen and (min-width: 35em) {
}
/* tablet */
@media only screen and (min-width: 45em) {

	.welcome__text h1 {
		font-size: 64px;
	}
	.welcome__text h1 span {
		font-size:48px;
	}
	.welcome__text h3 {
		font-size: 36px;
	}

}
/* desktop */
@media only screen and (min-width: 55em) {
	.welcome__text h1 {
		font-size: 96px;
	}
	.welcome__text h1 span {
		font-size:64px;
	}
	.welcome__text h3 {
		font-size: 36px;
	}
}
